API_ID= 34695387
API_HASH= 92ac3a8b5e6c5dcdca2bb11c0666631d
BOT_TOKEN= 8205093226:AAHkPbMODkOeb_OeUGMAopaESFfMiMds0ok
LOG_GROUP_ID= -1003579028091
MONGO_DB_URI= mongodb+srv://aryasingh464748_db_user:mcofiQXyehJJ30cb@aryababy.psy5mpl.mongodb.net/?appName=Aryababy
OWNER_ID= 8013091544
STRING_SESSION= BQF1s6cAQH1LuGR_jyNCNREK9Q107xJp1S_6RWRPsLg7jF5boDa3EV980PLQgK669h1uEgR4yu7vXPgw20P1leBgTukIvWC1mp99FQC4sKFxFlo4HY3z5nb50TqWggFmNSXNe8EUYUGRJ2F2Qbl3BXdTO52xLP-o-ihYMIC1Nm6P68LXEnH_uPu6_JkLWcDofM16sDLX-INE3XIvMpwWqoJljz4aqwR3ZVSiRhTMi6MB18s7WthT30VPQ70OygYVpF497-SrY3nQ_Pwes_IWovWPodtnoiChrqNxMaCv6H3MOQdbAltYjo1iRipvSTdcXY_ugafdxKa2ye1zoatvU7A4sG24zQAAAAGpuZwSAA